/* SPDX-License-Identifier: Apache-2.0 */

#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
	servo: servo {
		compatible = "pwm-servo";
		pwms = <&ledc0 0 20000000 PWM_POLARITY_NORMAL>;
		min-pulse = <500000>;
		max-pulse = <2500000>;
	};
};

&pinctrl {
	ledc0_default: ledc0_default {
		group1 {
			pinmux = <LEDC_CH0_GPIO27>;
			output-enable;
		};
	};
};

&ledc0 {
	pinctrl-0 = <&ledc0_default>;
	pinctrl-names = "default";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel0@0 {
		reg = <0x0>;
		timer = <0>;
	};
};

&spi2 {
	status = "okay";

	max6675: max6675@0 {
		compatible = "maxim,max6675";
		reg = <0>;
		spi-max-frequency = <4300000>;
	};
};
