/* SPDX-License-Identifier: Apache-2.0 */

#include <raspberrypi/partitions_4M_storage.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	chosen {
		zephyr,bt-hci = &bt_hci;
	};

	servo: servo {
		compatible = "pwm-servo";
		pwms = <&servo_pio 0 20000000 0>;
		min-pulse = <500000>;
		max-pulse = <2500000>;
	};
};

&pio1 {
	status = "okay";

	servo_pio: servo-pwm {
		compatible = "raspberrypi,pico-pwm-servo-pio";
		gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		#pwm-cells = <3>;
		status = "okay";
	};
};

&pio0_spi0 {
	airoc-wifi@0 {
		bt_hci: bt-hci {
			compatible = "infineon,cyw43-bt-hci-sbus";
			status = "okay";
		};
	};
};
