/* SPDX-License-Identifier: Apache-2.0 */

#include <raspberrypi/partitions_4M_storage.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	chosen {
		zephyr,bt-hci = &bt_hci;
	};

	servo: servo {
		compatible = "pwm-servo";
		pwms = <&servo_pio 0 20000000 0>;
		min-pulse = <500000>;
		max-pulse = <2500000>;
	};
};

&pinctrl {
	spi0_max6675: spi0_max6675 {
		group1 {
			pinmux = <SPI0_SCK_P18>, <SPI0_TX_P19>;
		};
		group2 {
			pinmux = <SPI0_RX_P16>;
			input-enable;
		};
	};
};

&pio1 {
	status = "okay";

	servo_pio: servo-pwm {
		compatible = "raspberrypi,pico-pwm-servo-pio";
		gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		#pwm-cells = <3>;
		status = "okay";
	};
};

&spi0 {
	status = "okay";
	pinctrl-0 = <&spi0_max6675>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;

	max6675: max6675@0 {
		compatible = "maxim,max6675";
		reg = <0>;
		spi-max-frequency = <4300000>;
	};
};

&pio0_spi0 {
	airoc-wifi@0 {
		bt_hci: bt-hci {
			compatible = "infineon,cyw43-bt-hci-sbus";
			status = "okay";
		};
	};
};
